<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/1713/1713945.png" height="50" alt="Logo" loading="lazy" />
      <span class="ms-4 display-5">Sistemas Microinformatica</span>
    </a>
    <a class="navbar-brand" href="#">

      <h4>Recursos humanos</h4>
    </a>
  </div>
</nav>