<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-center">
    <div>
      <div class="navbar-nav">
        <a class="nav-link" href="/empresa">Acerca de la empresa</a>
        <a class="nav-link" href="/">Ingreso de personal</a>
        <a class="nav-link " href="/contactos">Contactos</a>
      </div>
    </div>
  </div>
</nav>