<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <title>Sistemas Microinformatica</title>
</head>

<body>
  <%- include('partials/encabezado.html') %>
  <%- include('partials/navbar.html') %>
  <div class="container-fluid justify-content-center text-center">
    <div class="p-3">
      <img height="150" src="https://cdn-icons-png.flaticon.com/512/757/757576.png" alt="">
      <h1 class="display-1">Contactos</h1>
    </div>
  </div>
  <%- include('partials/pie.html') %>


</body>

</html>