<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <title>Sistemas Microinformatica</title>
</head>

<body>
  <%- include('partials/encabezado.html') %>
  <%- include('partials/navbar.html') %>

  <div class="container">
    <form action="/" method="post">
      <div align="center" class="p-3">
        <label class="form-label" for="">Numero Contrato:</label>
        <input class="form-control" type="number" id="numContrato" name="numContrato" min="1" pattern="^[0-9]+" required>
        <label class="form-label" for="">Nombre:</label>
        <input class="form-control" type="text" id="nombre" name="nombre" required>
        <label class="form-label" for="">Domicilio:</label>
        <input class="form-control" type="text" id="domicilio" name="domicilio" required>
        <label class="form-label" for="">Nivel de estudios:</label>
        <select class="form-select" name="estudios" id="estudios">
          <option value="1">1 - Licenciatura</option>
          <option value="2">2 - Maestria</option>
          <option value="3">3 - Doctorado</option>
        </select>
        <label class="form-label" for="">Pago diario base:</label>
        <input class="form-control" type="number" id="pagoDiario" name="pagoDiario" required>
        <label class="form-label" for="">Dias trabajados:</label>
        <input class="form-control" type="number" id="dias" name="dias" min="1" pattern="^[0-9]+" required>
        <br>
        <div class="btn-group mt-3 mb-3" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-primary">Calcular</button>
          <button type="reset" id='limpiar' class="btn btn-primary">Limpiar</button>
        </div>
      </div>
    </form>
  </div>
  <%- include('partials/pie.html') %>


</body>

</html>