<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <title>Sistemas Microinformatica</title>
</head>

<body>
  <%- include('partials/encabezado.html') %>
  <%- include('partials/navbar.html') %>
  <%
  const estudiosPago = {
    1: 1.2,
    2: 1.5,
    3: 2,
  };

  const estudiosNombres = {
    1: '1. Licenciatura',
    2: '2. Maestria',
    3: '3. Doctorado',
  }

  const nombreEstudio = estudiosNombres[estudios];
  let subtotal = (pagoDiario * parseFloat(estudiosPago[estudios]) * dias);
  let impuestos = parseFloat(subtotal) * 0.16;
  let total = parseFloat(subtotal) - parseFloat(impuestos);
  console.log(subtotal);
  console.log(impuestos);
  console.log(total);

  %>

  <div class="container">
    <h3 class="text-center mt-3">Nomina</h3>
    <div class="container-sm mt-5 mb-5">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Nombre</div>
            <%= nombre %>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Numero de Contrato</div>
            <%= numContrato %>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Domicilio</div>
            <%= domicilio %>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Estudios</div>
            <%= nombreEstudio %>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Pago por dia</div>
            <%= parseFloat(pagoDiario).toFixed(3)%>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Subtotal</div>
            <%= parseFloat(subtotal).toFixed(3) %>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Impuestos 16%</div>
            <%= parseFloat(impuestos).toFixed(3) %>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Total a Pagar</div>
            <%= parseFloat(total).toFixed(3) %>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%- include('partials/pie.html') %>


</body>

</html>